/*	
	Oppsett for kontering
	Version:		17.2.4
	Versjonnr sist endret av:  Andre Meidell

	Endret 20200814 laget til [vareegenskap] = N'43' for alle kjeder på MBXP kontoer ref Jira NG-1468
	Endret 20200826 flexaktivering
	
*/
use super--§§§§ Konteringsoppgjoer
if not exists (SELECT * FROM super.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='KONTERINGSOPPGJOER' and COLUMN_NAME='SLETTET')
begin
	alter table super..konteringsoppgjoer add SLETTET datetime null;
end
go
use super-- legge til kolonne revisjon
if not exists (SELECT * FROM super.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME='KONTERINGSOPPGJOER' and COLUMN_NAME='REVISJON')
begin
	alter table super..konteringsoppgjoer add REVISJON int;
end
go
if exists(select * from super..PARAMETERE where NAVN = 'KONTERINGSNAVN' and VERDI = 'Konteringsoppgjoer_v3')
begin
update super..KONTERINGSOPPGJOER set REVISJON = 1 where REVISJON is null;
end
go
use SUPER --§§§§ Konteringsoppgjoerlinjelogg, ny revisjon
if not exists(SELECT * FROM sys.tables WHERE  name = 'KONTERINGSOPPGJOERLINJELOGG')
begin
	CREATE TABLE [Super].[dbo].[KONTERINGSOPPGJOERLINJELOGG](
		[KONTERINGSOPPGJOERLINJELOGGID] [int] IDENTITY(1,1) NOT NULL,
		[ZNR] [int] NOT NULL,
		[UTSALGSSTEDNR] [int] NULL,
		[AVDELINGSNR] [int] NULL,
		[DEBETKONTONR] [int] NULL,
		[DEBETBELOEP] [decimal](15, 2) NULL,
		[KREDITKONTONR] [int] NULL,
		[KREDITBELOEP] [decimal](15, 2) NULL,
		[MVAPROSENT] [decimal](15, 4) NULL,
		[FRITEKST1] [varchar](50) NULL,
		[FRITEKST2] [varchar](50) NULL,
		[FRITEKST3] [varchar](50) NULL,
		[DATO] [datetime] NULL,
		[REVISJON] [int] NULL
	 CONSTRAINT [KONTERINGSOPPGJOERLINJELOGG_PKKONTERINGSOPPGJOERLINJELOGG] PRIMARY KEY CLUSTERED 
	(
		[KONTERINGSOPPGJOERLINJELOGGID] ASC
	)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]
end
go
--§§§§ Konteringskontoer
-- denne tabellen kan inneholde flere rader pr konteringskonto, dersom det f.eks er flere føringer på kontoen men med ulik vareegenskaper (f.eks 2992)
drop table super..KONTERINGSKONTO
go
create table super..KONTERINGSKONTO (kontonr int
									, navn varchar(50)
									, fritekst1 varchar(50)
									, fritekst2 varchar(50)
									, fritekst3 varchar(50)
									, flgegenregel bit default 0 not null
									, flgprovisjonsregel bit default 0 not null
									, vareegenskap varchar(50), varetype varchar(50)
									, mvaprosent int
									, mvaprosentprovisjon int
									, flgoverstyrmvaprosent bit default 0 not null
									, kontonrprovisjon int
									, flgomvendtprovisjon bit default 0 not null
									,[flgoverstyrfritekst1provisjon] [bit] NULL
									,[overstyrfritekst1Text] [varchar](50) NULL
									, notat text)
go
begin try --Legger inn data i konteringskonto tabell
	delete from super..KONTERINGSKONTO --Legger inn konteringskonto på nytt.

	insert [Super].[dbo].[KONTERINGSKONTO] 
			([KONTONR]
			, [NAVN]
			, [fritekst1]
			, [fritekst2]
			, [fritekst3]
			, [flgegenregel]
			, [flgprovisjonsregel]
			, [vareegenskap]
			, [varetype]
			, [notat]
			, [mvaprosent]
			, [mvaprosentprovisjon]
			, [flgoverstyrmvaprosent]
			, [kontonrprovisjon]
			, [flgomvendtprovisjon])
	values (1920
			, N'Bank (Nordea)'
			, null
			, null
			, null
			, 0
			, 0
			, null
			, null
			, null
			, null
			, null
			, 0
			, null
			, 0) --1920

	insert [Super].[dbo].[KONTERINGSKONTO] --1930 Bank (Andre)
			([KONTONR]
			, [NAVN]
			, [fritekst1]
			, [fritekst2]
			, [fritekst3]
			, [flgegenregel]
			, [flgprovisjonsregel]
			, [vareegenskap]
			, [varetype]
			, [notat]
			, [mvaprosent]
			, [mvaprosentprovisjon]
			, [flgoverstyrmvaprosent]
			, [kontonrprovisjon]
			, [flgomvendtprovisjon])
	values (1930
			, N'Bank (Andre)'
			, null
			, null
			, null
			, 0
			, 0
			, null
			, null
			, null
			, null
			, null
			, 0
			, null
			, 0)






















	--insert [Super].[dbo].[KONTERINGSKONTO] --2992 Ligger dobblet og ødelegger for MyPack! Panto bruker også 2992 men her er kontonr og annet hardkodet
	-- ([KONTONR], [NAVN], [fritekst1], [fritekst2], [fritekst3], [flgegenregel], [flgprovisjonsregel], [vareegenskap], [varetype], [notat], [mvaprosent], [mvaprosentprovisjon], [flgoverstyrmvaprosent], [kontonrprovisjon], [flgomvendtprovisjon])
	--values (2992, N'Tredjepartsomsetning', NULL, NULL, NULL, 0, 0, NULL, NULL, NULL, NULL, NULL, 0, NULL, 0)
	



	





				-- 3700 Provisjon Norsk Tipping er endret fra omvendt provisjon til standard oppsett nærmere blackhawk oppsett.
				-- NG har endret HB Konto på tippevarer gruppe 10 fra å være 3700 til å bli 541319 for Kiwi og 554654 for Meny.
				--Se oppsett på disse kontoene for info om kontering av gjeld til profilhus for det enkelte profilhus.
				

















			

	-- Spill i kasse KHM
			
			 
		--1593 Salg Flax
--	insert [Super].[dbo].[KONTERINGSKONTO] ([KONTONR], [NAVN], [fritekst1], [fritekst2], [fritekst3], [flgegenregel], [flgprovisjonsregel], [vareegenskap]
	--		, [varetype], [notat], [mvaprosent], [mvaprosentprovisjon], [flgoverstyrmvaprosent], [kontonrprovisjon], [flgomvendtprovisjon],[flgoverstyrfritekst1provisjon] ,[overstyrfritekst1Text])
--	values (1593
--			, N'Salg Flax'
--			, N'Salg Flax lodd'
--			, null
--			, N'40'
--			, 0
--			, 1
--			, null
--			, N'11'
--			, null
--			, null
--			, 0
--			, 1
--			, 3700
--			, 0
--			,1
--			,N'Flax, provisjon')			

	-- MBPX



	
/*	--Blackhawk
	insert [Super].[dbo].[KONTERINGSKONTO] 
			([KONTONR]
			, [NAVN]
			, [fritekst1]
			, [fritekst2]
			, [fritekst3]
			, [flgegenregel]
			, [flgprovisjonsregel]
			, [vareegenskap]
			, [varetype]
			, [notat]
			, [mvaprosent]
			, [mvaprosentprovisjon]
			, [flgoverstyrmvaprosent]
			, [kontonrprovisjon]
			, [flgomvendtprovisjon])
	values (544088
			, N'Blackhawk Kiwi'
			, N'BlackHawk'
			, null
			, N'10'
			, 0
			, 1
			, null
			, N'35,36,37'
			, null
			, null
			, 0
			, 1
			, 3708
			, 0)

	insert [Super].[dbo].[KONTERINGSKONTO] 
			([KONTONR]
			, [NAVN]
			, [fritekst1]
			, [fritekst2]
			, [fritekst3]
			, [flgegenregel]
			, [flgprovisjonsregel]
			, [vareegenskap]
			, [varetype]
			, [notat]
			, [mvaprosent]
			, [mvaprosentprovisjon]
			, [flgoverstyrmvaprosent]
			, [kontonrprovisjon]
			, [flgomvendtprovisjon])
	values (544110
			, N'Blackhawk KMH'
			, N'BlackHawk'
			, null
			, N'10'
			, 0
			, 1
			, null
			, N'35,36,37'
			, null
			, null
			, 0
			, 1
			, 3708
			, 0)

	insert [Super].[dbo].[KONTERINGSKONTO] 
			([KONTONR]
			, [NAVN]
			, [fritekst1]
			, [fritekst2]
			, [fritekst3]
			, [flgegenregel]
			, [flgprovisjonsregel]
			, [vareegenskap]
			, [varetype]
			, [notat]
			, [mvaprosent]
			, [mvaprosentprovisjon]
			, [flgoverstyrmvaprosent]
			, [kontonrprovisjon]
			, [flgomvendtprovisjon])
	values (544242
			, N'Blackhawk Meny'
			, N'BlackHawk'
			, null
			, N'10'
			, 0
			, 1
			, null
			, N'35,36,37'
			, null
			, null
			, 0
			, 1
			, 3708
			, 0)
*/


	--Hjemkjøring

end try
begin catch
	select error_message()
end catch
go
begin try --§§§§ Parametere
	update SUPER..parametere set verdi=10 where navn='GODKJENTTALLAVVIK';
	update SUPER..parametere set verdi=4 where navn='KONTERINGBEHANDLINGSTID';       
	update SUPER..parametere set verdi=9802 where navn like '%VGRUTPANT%';
	update SUPER..parametere set verdi=9801 where navn like '%VGRINNPANT%';
	update SUPER..parametere set verdi=99 where navn like '%AVDUTPANT%';
	update SUPER..parametere set verdi=99 where navn like '%AVDINNPANT%';	
	if not exists(select * from super.dbo.PARAMETERE where navn = 'KONTERINGDEBUG')
	begin 
		insert into super.dbo.PARAMETERE
				( NR ,
				  NAVN ,
				  VERDI ,
				  PARAMETERTYPE ,
				  BESKRIVELSE ,
				  KATEGORI ,
				  LEDETEKST
				)
		values  ( (select max(NR)+1 from super.dbo.PARAMETERE) , -- NR - int
				  'KONTERINGDEBUG' , -- NAVN - varchar(50)
				  'F' , -- VERDI - varchar(200)
				  4 , -- PARAMETERTYPE - int
				  'Setter Kontering i debugmodus. (ekstra logging)' , -- BESKRIVELSE - varchar(50)
				  10 , -- KATEGORI - int
				  'Kontering debugmodus.'  -- LEDETEKST - varchar(50)
				)
	end
end try 
begin catch 
	select error_message()
end catch
go
use VARESALG--§§§§ Bankkort
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'PROSJEKTKODE')
begin
	alter table varesalg..BANKKORT add PROSJEKTKODE varchar(20);
end 
GO
use VARESALG--§§§§ Bankkort (Laget ifm med egen regel for håndtering av gebyr til NG Bedriftskort)
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'flgGebyrRegel')
begin
	alter table varesalg..BANKKORT add flgGebyrRegel BIT NOT NULL DEFAULT 0;
end 
GO
use VARESALG--§§§§ Bankkort (Laget ifm med egen regel for håndtering av gebyr til NG Bedriftskort)
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'GebyrDebetKontoNr')
begin
	alter table varesalg..BANKKORT add GebyrDebetKontoNr INT;
end 
GO
use VARESALG--§§§§ Bankkort (Laget ifm med egen regel for håndtering av gebyr til NG Bedriftskort)
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'GebyrFritekst1')
begin
	alter table varesalg..BANKKORT add GebyrFritekst1 VARCHAR(50);
end 
GO
use VARESALG--§§§§ Bankkort (Laget ifm med egen regel for håndtering av gebyr til NG Bedriftskort)
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'GebyrFritekst2')
begin
	alter table varesalg..BANKKORT add GebyrFritekst2 VARCHAR(50);
end 
GO
use VARESALG--§§§§ Bankkort (Laget ifm med egen regel for håndtering av gebyr til NG Bedriftskort)
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'GebyrFritekst3')
begin
	alter table varesalg..BANKKORT add GebyrFritekst3 VARCHAR(50);
end 
GO
use VARESALG--§§§§ Bankkort (Laget ifm med egen regel for håndtering av gebyr til NG Bedriftskort)
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'GebyrProsent')
begin
	alter table varesalg..BANKKORT add GebyrProsent FLOAT;
end 
GO

use VARESALG--§§§§ Bankkort (Laget ifm med egen regel for håndtering av gebyr til NG Bedriftskort)
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'GebyrKroner')
begin
	alter table varesalg..BANKKORT add GebyrKroner FLOAT;
end 
GO

USE VARESALG 
if not exists(select * from sys.tables t inner join sys.columns c on (t.object_id = c.object_id) where t.name = 'BANKKORT' and c.name = 'GebyrMva')
begin
	alter table varesalg..BANKKORT add GebyrMva FLOAT;
end 
GO


use VARESALG
if not exists(select t.object_id,t.name,c.name from sys.tables t inner join sys.columns c on t.object_id = c.object_id where t.name = 'bankkort' and c.name = 'fritekst1')
begin
	alter table varesalg..bankkort add fritekst1 varchar(50), fritekst2 varchar(50), debetkontonr int, flgbankkontonrfrasystemoppsett bit default 0
end 
go
if not exists(select * from varesalg..BANKKORT where typenr = 91) begin insert into varesalg..bankkort (typenr,navn,prosjektkode) values (91,'VISA PREPAID','15');end
if not exists(select * from varesalg..BANKKORT where typenr = 73) begin insert into varesalg..bankkort (typenr, navn, prosjektkode) values (73,'BBS SENTERGAVEKORT2',''); end 
update varesalg..bankkort set prosjektkode=17 where typenr in (1,9,20,30,35,36);
update varesalg..bankkort set prosjektkode=15 where typenr=3; 
update varesalg..bankkort set prosjektkode=14 where typenr=4;
update varesalg..bankkort set prosjektkode=13 where typenr=6;
update varesalg..bankkort set prosjektkode=14 where typenr=14;
update varesalg..bankkort set prosjektkode=19 where typenr=19;
update varesalg..bankkort set prosjektkode=20 where typenr=20;
update varesalg..bankkort set prosjektkode=15 where typenr=34; 
update varesalg..bankkort set prosjektkode=36 where typenr=36;

update varesalg..bankkort set prosjektkode=43 where typenr=56;
update varesalg..bankkort set prosjektkode=15 where typenr=55; 
update varesalg..bankkort set prosjektkode=44 where typenr=5;
update varesalg..bankkort set prosjektkode=45 where typenr=73;
update varesalg..BANKKORT set fritekst1='BAX SMARTKORT',debetkontonr=NULL,flgbankkontonrfrasystemoppsett=1 where TYPENR in (1,30);
update varesalg..BANKKORT set debetkontonr=NULL,flgbankkontonrfrasystemoppsett=1 where TYPENR in (35,36,56,73);
update varesalg..BANKKORT set debetkontonr=1515,flgbankkontonrfrasystemoppsett=0 where TYPENR not in (1,30,35,36,56,73,998);

UPDATE varesalg.dbo.BANKKORT SET NAVN = 'NG Bedriftskort', PROSJEKTKODE = 68, flgbankkontonrfrasystemoppsett = 1
	, flgGebyrRegel = 1, GebyrFritekst1 = 'Gebyr NG Bedriftskort (mva 0% avg.k. 8)'
	, fritekst1 = 'NG Bedriftskort', GebyrDebetKontoNr = 7770, GebyrProsent = 1.2
	,GebyrKroner = 0.3, GebyrMva = 0
		WHERE TYPENR = 57;

UPDATE varesalg..BANKKORT set NAVN = 'NG Kjedegavekort', PROSJEKTKODE = 69, flgbankkontonrfrasystemoppsett = 1 
	 ,GebyrMva = 0
	,fritekst1 = 'NG elektronisk gavekort'
WHERE TYPENR = 58;

update varesalg..bankkort set debetkontonr='1515' where navn='VISA PREPAID'

--iGIVE gavekort
UPDATE varesalg..bankkort SET navn='iGIVE Gavekort K', prosjektkode=17,debetkontonr=NULL,flgbankkontonrfrasystemoppsett=1 where typenr=38;
UPDATE varesalg..bankkort SET navn='iGIVE Gavekort S', prosjektkode=17,debetkontonr=NULL,flgbankkontonrfrasystemoppsett=1 where typenr=39;
UPDATE varesalg..bankkort SET navn='iGIVE Kampanje K', prosjektkode=17,debetkontonr=NULL,flgbankkontonrfrasystemoppsett=1 where typenr=40;
UPDATE varesalg..bankkort SET navn='iGIVE Kampanje S', prosjektkode=17,debetkontonr=NULL,flgbankkontonrfrasystemoppsett=1 where typenr=41;
UPDATE varesalg..bankkort SET navn='iGIVE Fordel', prosjektkode=17,debetkontonr=NULL,flgbankkontonrfrasystemoppsett=1 where typenr=42;

insert into super..logg  values (1, Getdate(), 28, 'Kontering Installasjon - Bankkort tabell ble oppdatert.', 0, 1)
go

use varesalg--§§§§ for betalingsmidler
go
if exists(select * from sys.tables where name='betalingsmiddel')
begin
	drop table varesalg..betalingsmiddel
end;
go
create table [Varesalg].[dbo].[BETALINGSMIDDEL](
												[BETALINGSMIDDELNR] [smallint] NOT NULL,
												[DEBETKONTONR] [int] NULL,		
												[KREDITKONTONR] [int] NULL,			
												[FRITEKST1] [varchar](50) NULL,	
												[FRITEKST2] [varchar](50) NULL,	
												[FRITEKST3] [varchar](50) NULL,
												[flgbankkontonrfrasystemoppsett] bit default 0 NOT NULL,
												[flgEgenRegel] bit default 0 NOT NULL,
												[flgDebetRegel] bit default 0 NOT NULL
												constraint [BETALINGSMIDDEL_PKBETALINGSMIDDEL] primary key clustered  
												([BETALINGSMIDDELNR] asc)with 
												(pad_index  = off, statistics_norecompute = OFF, ignore_dup_key = off, allow_row_locks = on, allow_page_locks = on) on [PRIMARY]
) on [PRIMARY] 
go
begin try -- Legger inn betalingsmidler
	insert into varesalg..BETALINGSMIDDEL --1 Kontantomsetning
			(BETALINGSMIDDELNR
			,DEBETKONTONR
			,FRITEKST1
			,FRITEKST2
			,FRITEKST3
			,flgbankkontonrfrasystemoppsett
			,flgEgenRegel) 
	values (1
			,1900
			,'Kontantomsetning'
			,null
			,null
			,0
			,0)
	insert into varesalg..BETALINGSMIDDEL 
	(BETALINGSMIDDELNR,DEBETKONTONR,FRITEKST1,FRITEKST2,FRITEKST3,flgbankkontonrfrasystemoppsett,flgEgenRegel) 
	values (2
			,1520
			,'Papirgavekort innløsning'
			,null
			,null
			,0
			,0)	
	insert into varesalg..BETALINGSMIDDEL 
			(BETALINGSMIDDELNR
			,DEBETKONTONR
			,FRITEKST1
			,FRITEKST2
			,FRITEKST3
			,flgbankkontonrfrasystemoppsett
			,flgEgenRegel) 
	values (3
			,null
			,null
			,null
			,null
			,1
			,1)
	insert into varesalg..BETALINGSMIDDEL 
				(BETALINGSMIDDELNR
				,DEBETKONTONR
				,FRITEKST1
				,FRITEKST2
				,FRITEKST3
				,flgbankkontonrfrasystemoppsett
				,flgEgenRegel) 
	 values (4
			,299999
			,'Kreditt'
			,null
			,null
			,0
			,0)
--New Andre 20200826

		
end try
begin catch
	select ERROR_MESSAGE()
end catch
go
use SUPER --§§§§ Konterings View
if exists(select * from sys.views where name = 'KonteringIkkeGodkjent')
drop view KonteringIkkeGodkjent;
go
create view KonteringIkkeGodkjent as
select 
	(select BUTIKKNAVN from dbo.SYSTEMOPPSETT) as Butikknavn
	,k.OPPGJOERFORDATO
	,k.ZNR
	,sum(kl.DEBETBELOEP) as Debetbeloep
	,sum(kl.KREDITBELOEP) as Kreditbeloep
    ,sum(kl.DEBETBELOEP) - sum(kl.KREDITBELOEP) as Diff
from dbo.KONTERINGSOPPGJOER as k 
	inner join dbo.KONTERINGSOPPGJOERLINJE kl on (k.ZNR = kl.ZNR)
where (k.OPPGJOERFORDATO >= GETDATE() - 60) 
	and (k.OPPGJOERFORDATO < GETDATE())
	and (k.GODKJENT IS NULL)
group by k.OPPGJOERFORDATO, k.ZNR
go	
use VARESALG--§§§§ Hjelpefunksjoner, funksjonen "FN_ListTotable"
if not exists(select * from sys.tables where name = 'Numbers')
begin
	create table Varesalg..Numbers
	(Number int  NOT NULL,
		CONSTRAINT PK_Numbers PRIMARY KEY CLUSTERED (Number ASC)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
	) ON [PRIMARY]	
	DECLARE @x int	
	SET @x=0
	WHILE @x<8000
	BEGIN
		SET @x=@x+1
		insert INTO Varesalg..Numbers values (@x)
	end
end
go 
use Varesalg ----Legger inn funksjon for å lage "dataset / liste" fra string som er kommaseparert. 
go
if exists(select * from sys.objects where name ='FN_ListTotable') -- Sjekker om funksjon finnes
begin    
	drop function [dbo].[FN_ListTotable];	
end
go
create function [dbo].[FN_ListTotable] --Legger inn funksjon
(@SplitOn char(1),@List varchar(8000)) 
returns @ParsedList table (ListValue varchar(500))
as
	begin
		insert INTO @ParsedList
					(ListValue)
		select ListValue
		from (select
			  LTRIM(RTRIM(SUBSTRING(List2, number+1, CHARINDEX(@SplitOn, List2, number+1)-number - 1))) AS ListValue
			 from (
					select @SplitOn + @List + @SplitOn AS List2
				   ) AS dt
		INNER JOIN Numbers n ON n.Number < LEN(dt.List2)
		where SUBSTRING(List2, number, 1) = @SplitOn
			) dt2
	where ListValue IS NOT NULL AND ListValue!=''
	
	return
	end 
GO
use SUPER --§§§ Testmodus
if  not exists (select * from SUPER..TIDSSTYRING where PARAMETERE like '%KONTERING%')
begin
	update SUPER..PARAMETERE set VERDI='T' where NAVN='KONTERINGTESTMODUS'
	print('Satt til Testmodus')
end
GO
IF NOT EXISTS(select * from super..parametere where navn='KONTERINGMINDATO')
BEGIN 
	INSERT INTO super..PARAMETERE (nr,NAVN,VERDI,PARAMETERTYPE,BESKRIVELSE,KATEGORI,LEDETEKST) 
	VALUES ((SELECT MAX(NR)+1 from super..PARAMETERE),'KONTERINGMINDATO','2017-08-29',1,'Minste dato for automatisk re-generering Kontering',10,'Minste dato for automatisk re-generering.');
END 
GO
