USE [BI_Mart]
GO
/****** Object:  StoredProcedure [dbo].[usp_CBI_1210_Weekly_Sales_Report]    Script Date: 31.08.2020 12:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_CBI_1210_Weekly_Sales_Report]
(
	---------------------------------------------
	@StoreId	AS VARCHAR(100)
)
AS  
BEGIN 
DECLARE @Week			INT	= DatePart(year, GetDate())*100+DatePart(week, GetDate()) - 1
DECLARE @LastYear		INT	=	(DatePart(year, GetDate())-1)*100+DatePart(week, GetDate()) - 1
;WITH 
ValidArticles AS
(SELECT ArticleIdx FROM  RBIM.Dim_Article AS DA (NOLOCK) 
where Lev2ArticleHierarchyId not in (937, 995, 981, 985, 982, 965, 990, 999, -98, -99)), -- Exclude Fuel, vouchers, deopsits etc.
CurrentWeek AS
(SELECT DS.StoreName, SUM(ASARPW.SALESREVENUE) AS 'OMSÄTTNING', SUM(ASARPW.GrossProfit) AS 'MARGINAL', SUM(ASARPW.NumberOfCustomers) AS 'ANTAL KUNDER', (SUM(ASARPW.SALESREVENUE)/SUM(ASARPW.NumberOfCustomers)) AS 'SNITTKÖP', SUM(ASARPW.QuantityOfArticlesSold) AS 'ANTAL ARTIKLAR'
  FROM [BI_Mart].[RBIM].[Agg_SalesAndReturnPerWeek] as ASARPW
JOIN RBIM.Dim_Date AS DD ON ASARPW.ReceiptDateIdx = DD.DateIdx
JOIN RBIM.Dim_Store AS DS ON DS.StoreIdx = ASARPW.StoreIdx
JOIN ValidArticles as VA ON ASARPW.ArticleIdx = VA.ArticleIdx
WHERE DD.YearWeekNumber = @Week
and DS.StoreId = @StoreId 
GROUP BY DS.StoreName),
PreviousWeek AS
(SELECT DS.StoreName, SUM(ASARPW.SALESREVENUE) AS 'OMSÄTTNING', SUM(ASARPW.GrossProfit) AS 'MARGINAL', SUM(ASARPW.NumberOfCustomers) AS 'ANTAL KUNDER', (SUM(ASARPW.SALESREVENUE)/SUM(ASARPW.NumberOfCustomers)) AS 'SNITTKÖP', SUM(ASARPW.QuantityOfArticlesSold) AS 'ANTAL ARTIKLAR'
  FROM [BI_Mart].[RBIM].[Agg_SalesAndReturnPerWeek] as ASARPW
JOIN RBIM.Dim_Date AS DD ON ASARPW.ReceiptDateIdx = DD.DateIdx
JOIN RBIM.Dim_Store AS DS ON DS.StoreIdx = ASARPW.StoreIdx
JOIN ValidArticles as VA ON ASARPW.ArticleIdx = VA.ArticleIdx
WHERE DD.YearWeekNumber = @LastYear 
and DS.StoreId = @StoreId 
GROUP BY DS.StoreName)
 
Select substring(CurrentWeek.StoreName,7,50) AS 'BUTIK',
		(CurrentWeek.OMSÄTTNING/PWeek.OMSÄTTNING -1)*1 AS 'OMSÄTTNING VS FG VECKA', 
		CurrentWeek.Marginal/CurrentWeek.Omsättning AS 'Marginal %',
		(CurrentWeek.MARGINAL/PWeek.MARGINAL -1)*1 AS 'MARGINAL VS FG VECKA', 
		CurrentWeek.[ANTAL KUNDER], 
		(cast (CurrentWeek.[ANTAL KUNDER] as decimal)/cast (PWeek.[ANTAL KUNDER] as decimal) -1)*1 AS 'ANTAL KUNDER VS FG VECKA', 
		CurrentWeek.SNITTKÖP, 
		(CurrentWeek.[SNITTKÖP]/PWeek.SNITTKÖP -1)*1 AS 'SNITTKÖP VS FG VECKA', 
		(cast (CurrentWeek.[ANTAL ARTIKLAR] as decimal)/cast (CurrentWeek.[ANTAL KUNDER] as decimal)) AS 'ANTAL POSTER PER KUND'
		from CurrentWeek
JOIN PreviousWeek AS PWeek ON CurrentWeek.StoreName = PWeek.StoreName
ORDER BY CurrentWeek.StoreName

END 