<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rs.Widget.AccountExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rs.Widget.AccountExport.Properties.Settings>
            <setting name="WebapiUri" serializeAs="String">
                <value>http://N13OS2SUT231T/RS.WebApi.AccountingExport/api</value>
            </setting>
        </Rs.Widget.AccountExport.Properties.Settings>
    </applicationSettings>
</configuration>